@import url('./reset.css');
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,600,700,800|Poppins:400,500,600,700|Yellowtail&display=swap);

/* common css style */
h1,h2,h3,h4,h5,h6{
  font-family: "playfair Display",serif;
  color: #0b1c39;
  margin-top: 0;
  font-weight: 500;
  text-transform: normal;
}

title{
  margin-bottom: 85px;
}
.btn-1 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-1:hover,
.btn-1:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-1:hover {
  transform: translateY(-1px);
}

.btn-1:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.btn-2 {
  align-items: center;
  background-color: #fa6400;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn-2:hover,
.btn-2:focus { 
  background-color: #fb8332;
  color: #ffffff;
}

.btn-2:active {
  background: #fb8332;
  color: rgb(255, 255, 255, .7);
}

.btn-2:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
/* main css */
body {
  font-family: Poppins,sans-serif;
  font-style: normal;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  }

  .header nav {
    background-color:#fb8332;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 50px;
  }

  nav .social-media-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100px;
  }

  nav .social-media-icons i{
    font-size: 30px;
  }

  nav .search-wrapper input{
    border: none;
    height: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
  }

  nav .search-wrapper i{
    position: relative;
    right: 30px;
  }

  nav .telephone-wrapper{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .telephone-wrapper i{
    color: black;
    font-size: x-large;
  }

  nav a{
    text-decoration: none;
    color: #ffffff;
  }

  nav .coutry-wrapper{
    display: flex;
  }

  nav .coutry-wrapper .flag img{
     height: 20px;
     width: 20px; 
     border-radius:50%;
  }

  nav .coutry-wrapper select{
    background: none;
    border: none;
    color: #ffffff;
  }

  nav .coutry-wrapper select option{
    color: black;
  }
/* main navbar */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30%;
}

.main-navigation .logo{
  display: flex;
  margin-left: 100px;
}

.main-navigation .container ul{
  display: flex;
  flex-direction: row;
}

.main-navigation .container ul li{
  margin-left: 50px;
}

.main-navigation .container ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.main-navigation .sign-container{
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  width: 40rem;
}

/* crousel container */
.carousel-container-0{
  width:70rem ;
  margin-left:9rem !important;
  background-color: #6e7f7e;
}

.carousel-container-0 h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}

.carousel-container-0 span{
  font-family: 'Dancing Script', cursive;
  color: #b4f146;
}

.carousel-container-0 p{
  font-size: 20px;
  color: #b4f146;
}

/* carousel container 1 */

.carousel-container-1{
  display: flex;
  flex-direction: column;
  margin-left: 6.5rem;
  margin-top: 80px;
  box-sizing: border-box;
}

.carousel-image{
  display: flex;
  flex-direction: row;
  width: 69rem;
  margin-top: 30px;
  box-sizing: border-box;
}

.carousel-image img{
   height: 13rem;
}

.carousel-image .images{
  display: flex;
  width: 22rem;
}

.carousel-image .images h4{
  position: relative;
  right: 9rem;
  top: 35px;
}

.carousel-image .images .btn-2{
  position: relative;
  width: 8rem;
  top: 90px;
  right: 15rem;
}
/* product container css style */

.latest-product-area .latest-product-nav{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.latest-product-area .latest-product-nav h1{
  margin-left: 6.2rem;
  font-size: 30px;
}

.latest-product-area .latest-product-nav .breadcrumb-area{
  display: flex;
  margin-right: 20px;
}

.latest-product-area #latest-product{
  margin-left: 10rem;
}

.productcaption ul{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 50px;
}

.productcaption ul li{
  margin-left: 10px;
  color: #fb8332;
}

.new-product span{
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  background:red;
  color: #fff;
  padding: 2px;
  border-radius: 30px;
  width: 50px;
  text-align: center;
}

#product-hover{
  display: flex;
  position: absolute;
  top: 8rem;
  left: 3rem;
}


#product-hover img{
  height: 60px;
  width: 60px;
  opacity: .5;
}

#icon1:hover{
  background-image: url(./../images/wishlist-new.png);
  background-size: cover;
}

#icon2:hover{
  background-image: url(./../images/view-new.png);
  background-size: cover;
}

#icon3:hover{
  background-image: url(./../images/cart-new.png);
  background-size: cover;
}

.card-text{
  text-align: center;
  
}

.card-text del {
  color: red;
  margin: 0px 5px 0px 5px;
}

.card-text:hover{
  color: red;
}

.blur{
  opacity: 0.2;
}

/* footer css style */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

footer .footer-info {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

footer ul li:nth-child(1){
  font-weight: 500;
}

.card_body{
  top: 30rem;
}


.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.sticky-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  margin: auto;
  box-shadow: 0 10px 15px rgb(25,-25, -25,-0.1);
  background: #ffffff;
  width: 100%;
  height: 10%;
}

.sticky-bar .logo img{
  height: 4rem;
  width: 5rem;
}

#scrollup i{
  position:fixed;
  left: 80rem;
  top: 33rem;
  font-size: 50px;
  color: lightgreen;
  cursor: pointer;
}

.reg-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffa500;
  box-sizing: border-box;
  height: 40rem;
}

.reg-container .reg-img{
  display: flex;
  flex-direction: row;
}

.reg-container .reg-img h1{
  margin-top: 70px;
  color: #fff;
}

.reg-container .reg1{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  height: 30rem;
  width: 30rem;
}

.reg-container ul{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0px 20px;
}

.reg-container ul li i{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.reg-container ul li p{
  color:#fff;
}

.reg-form{
  display: flex;
  background: #ffffff;
  height: 22rem;
  width: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
border-radius: 5px;
}

.reg-form form{
  margin-left: 25px;
  margin-top: 25px;
}

.reg-form form input{
  width: 15rem;
  height: 24px;
  margin-top: 15px;
}

.reg-form form button{
  margin-top: 10px;
}

.contacts a{
  background:rgba(75, 4, 4, 0.911);
  box-sizing: border-box;
  width: 20rem;
  text-decoration: none;
  margin-top: 20px;
  outline: none;
  border: none;
}

.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 20rem;
  margin-top: 5rem;
  height: 10rem;
  width: 50rem;
}

.user-container ul{
  height: 20px;
  width: 20rem;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.user-container ul li img{
  margin-left: 60px;
  height: 60px;
}

.profile-container{
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  margin-top: 2rem;
}

.profile-container img{
  height: 60px;
}

.profile-container ul{
  margin-top: 30px;
}

.profile-container .pro-menu ul li:nth-child(1){
  font-weight: 700;
}

.profile-container .pro-menu ul li a{
   text-decoration: none;
   color: #000000;
   padding: 5px;
}

.profile-container .pro-menu ul li a:hover{
  background: rgb(247, 244, 244);
  color: #ffa500;
  font-weight: 400;
}

.profile-container hr{
  width: 50rem;
}

.pro-details {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.pro-details ul:nth-child(1){
  font-weight: 500;
}

.pro-details ul li{
  margin-top: 20px;

}

/* style for product-view */

#product-view nav{
  background-color: rgb(233, 220, 220);
  height: 3rem;
}

#product-view nav ol{
  margin-left: 10rem;
  line-height: 40px;
}

#product-view #product1 ul{
  height: 265px;
  width: 400px;
  margin-left: 10rem;
  margin-top: 25px;
}

#product-view #product1 ul li img{
   height: 60px;
   width: 60px;
   margin-top: 5px;
}

#product-view #product1 li:nth-last-child(1){
  position: relative;
  top: -16rem;
  left: 5rem;
}

#product-view #product1 li:nth-last-child(1) img{
  height: 250px;
  width: 250px;
}

.product-details h5{
  margin-top: 25px;
}

.product-details ul{
  margin-left: -29px;
}
.product-details ul li:nth-child(1) span{
  margin-left: 5px;
  color: rgb(5, 231, 5) ;
}

.product-details ul li:nth-child(4){
  display: flex;
  flex-direction: row;
}

.product-details ul li:nth-child(5) {
  display: flex;
}

.product-details ul li:nth-child(5) div{
  margin-left: 10px;
  height: 40px;
  width:40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 1px solid black;
}

.product-details ul li:nth-child(5) table, th{
  border: 2px solid black !important;
  text-align: center;
  margin-left: 20rem;
  width: 10rem;
}

.btn-container{
 margin-top: 30px;
}

.btn-container button{
  width: 10rem;
  background-color: #ffa500;
  border: none;
  font-weight: 600;
}

.btn-container button:hover{
  background-color: #ffa500;
}

.share{
  margin-top: 20px;
}

.support{
  display: flex;
  margin-top: 30px;
}

.support div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

.support div i{
  margin-right: 10px;
  margin-top: -15px;
  font-size: 20px;
}

.menu-container{
  margin-left: 12rem;
}

.menu-container .breadcrumb-item{
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

.menu-container .breadcrumb-item a{
  text-decoration: none;
  color: #000000;
}

/* productlist css style */

.productlist nav{
  background-color: rgb(233, 220, 220);
  height: 3rem;
}
.total-item{
  margin-left: 250px;
  margin-top: 30px;
  position: relative;
}

.total-item select{
  margin-left: 39rem;
}
.productlist nav ol{
  margin-left: 10rem;
  line-height: 40px;
}

.productlist aside{
  display: flex;
  margin-left: 60px;
}

.productlist aside .flex-column{
  width: 100vw;
  margin-top: 40px;
}
.productlist aside .flex-column a{
  color: black;
  font-weight: 600;
}

.productlist aside .flex-column input{
  margin-left: 15px;
}


.productlist aside .flex-column a:hover{
  color: rgb(202, 182, 182);
}


.productlist aside #nav-home{
  margin-left: 50px;
  margin-top: 40px;
}

